* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

#container {
    background-color: rgb(39, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

#board{
    background-color: burlywood;
    display: grid;
    position: relative;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Figures */
.image-figure:hover{
    opacity: 0.9;
}
/*Choose image*/
.check-image{
    background-color: gold;
    border: 2px solid rgb(222, 222, 222);
}