* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

#container {
    background-color: rgb(39, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

#board{
    background-color: burlywood;
    display: grid;
    position: relative;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Figures */
.image-figure:hover{
    opacity: 0.9;
}

.chess-piece-animation-top{
    transition: top 0.3s ease-in-out;
    position: absolute;
}
.chess-piece-animation-left{
    transition: left 0.3s ease-in-out;
    position: absolute;
}
.chess-knight-animation{
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
    position: absolute;
}
.chess-bishop-animation{
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
    position: absolute;
}
.chess-king-animation{
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
    position: absolute;
}

/*Choose image*/
.check-image{
    background-color: gold;
    border: 2px solid rgb(222, 222, 222);
}


/*Circles for movement*/
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(25, 202, 5, 0.496);
    transform: translate(-50%, -50%);
    position: absolute;
}

/* Enemy circles*/
.circle-enemy{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(196, 9, 9, 0.496);
    transform: translate(-50%, -50%);
    position: absolute;
}