* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

#container {
    background-color: rgb(39, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

#board{
    background-color: burlywood;
    display: grid;
    /*grid-template-columns: repeat(8, 50px); grid to represent squares */
}

